---
import Layout from '../layouts/Layout.astro'
import Video from '../components/Video.astro'
import Intro from '../components/Intro.astro'
import Bento from '../components/Bento.astro'
import PreFooter from '../components/PreFooter.astro'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
---

<Layout
	title='Theatre of the unaligned: prototype'
	description='A prototype for design ideas'
>
	<Navbar />
	<Video />
	<main>
		<Intro />
		<Bento />
		<PreFooter />
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo tempore
			eius aut, dicta perspiciatis beatae velit minus quos omnis saepe alias
			labore veniam laboriosam aperiam libero, necessitatibus blanditiis
			veritatis. Provident blanditiis velit culpa qui officia facilis, nostrum
			perferendis, excepturi sed dolorem aut laborum eius porro incidunt
			voluptates repudiandae voluptatibus quia in dicta rem eum autem? Ducimus
			reprehenderit asperiores modi.
		</p>
	</main>
</Layout>

<style></style>
