<section class='mx-auto flex justify-center items-center flex-col text-pretty'>
	<h1 class='font-bold'>Theatre of the Unaligned</h1>
	<p class='text-pretty'>
		We are a DND Podcast created by a group of actors, writers and artists who
		focus on immersive and character based DND.
	</p>
</section>
