<div class='w-full relative'>
	<video class='w-full h-auto' src='/unaligned.webm' autoplay loop muted
	></video>
	<video
		class='absolute -bottom-48 blur-3xl -z-40'
		src='/unaligned.webm'
		autoplay
		loop
		muted></video>
</div>
