<div class='h-[95vh] w-[100%] relative'>
	<video
		class='w-[100%] h-[100%] object-cover'
		src='/unaligned.webm'
		autoplay
		loop
		muted></video>
	<video
		class='absolute -bottom-48 blur-3xl -z-40'
		src='/unaligned.webm'
		autoplay
		loop
		muted></video>
</div>
